<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{.title}}</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
  </head>
  <body class="bg-light">

  <header class="bd-header bg-dark py-3 d-flex align-items-stretch border-bottom border-dark">
    <div class="container-fluid d-flex align-items-center">
      <a href="/" class="h1">
        <h1 class="d-flex align-items-center fs-4 text-white mb-0">
          PubSub UI
        </h1>
      </a>
    </div>
  </header>

  <main class="container">
    <section class="py-5 container">
