{{template "header.gohtml" .}}

<h1>Messages of subscription: {{.subscriptionName}}</h1>
<div>
    {{range .messages}}
        <div class="card">
            <div class="card-body">
                <p class="card-text">Message: {{.Message}}</p>
                <p class="card-text">Attributes: {{.Attributes}}</p>
            </div>
        </div>
    {{end}}

    <a href="/" class="btn-primary btn">Home</a>
</div>

{{template "footer.gohtml" .}}